html,body{
  background-color: #fff;
  margin: 0;
  padding: 0;
	z-index: 1;
  /*overflow: auto; */
}
#defaultCanvas0{
	position: absolute;
	z-index: -100;
}

#decimalis{
  position: fixed;
	margin-top: 5vh;
	margin-left: 10vw;

	/*z-index: 1;*/
	font-size: 150px;
	font-family: helvetica;
	color: blue;
}
#bin{
	margin-top: 25vh;
	margin-left: 10vw;
  	position: fixed;

	font-size: 150px;
	font-family: helvetica;
	color: blue;
}
